.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 100%;
  width: 70%;
}

.mySwiper {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  width: 30%;
}

.mySwiper .swiper-slide {
  width: 6.26vw;
  height: 6.26vw;
  opacity: 0.4;
  margin-bottom: 20px;
  cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper .swiper-wrapper {
  flex-direction: column;
  align-items: flex-end;
}

.swiper-pagination {
  position: relative;
  display: none;
}

.swiper-pagination-bullet {
  background-color: #5dabbd;
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

@media not all and (min-width: 768px) {
  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
